.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

/* Add styles for expanded view, close button, and expanded image as needed */

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.event-image {
  max-width: 100%;
}

.expanded-image {
  max-width: 100%;
}
  
  
  .event-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .event-details h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .event-details p {
    font-size: 16px;
  } 


