.card {
  border: 1px solid #ed1919;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: rgb(251, 215, 215);
  margin-left: 200px;
  width: 300px;
}

/* Image styles */
.card img {
  width: 100%;
  height: auto;
}

/* Card content styles */
.card-content {
  padding: 15px;
}

/* Title styles */
.card-content h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Description styles */
.card-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  /* max-height: 1000px; /* Limit the height for short description */
  /* overflow: hidden;  */
  transition: max-height 0.3s ease-in;
}
.expanded-description {
  font-size: 16px; /* Larger font size for the expanded description */
  max-height: none; /* Remove the max height to allow expansion */
  overflow: visible; /* Allow content to be visible */
}
/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
