 .services-card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .services-card img {
    max-width: 100%;
    height: auto;
  }
  
  .aim-cost {
    margin-top: 10px;
  }
  
  .service-details {
    margin-top: 10px;
    position: relative;

  }
  